<style>
  h1 {
    border-bottom: solid 3px gray;
    margin-bottom: 24px;
  }
</style>

<!-- <p><%= link_to "Add a New Place", "/places/new" %></p> -->
<p><%= link_to "Add a New Place", new_place_path, :method => 'get' %> </p>
<ul>

  <% @places.each do |place| %>
    <li>
      <%= link_to place.title, place_path(place.id) %>
      (<%= number_to_currency(place.price / 100) %>)
      <%= link_to "(delete)", place_path(place.id), :method => 'delete' %>
    </li>
  <% end %>

</ul>
